In [35]:
#  For the Google Palm LLM Model..

# import google.generativeai as genai
# genai.configure(api_key="AIzaSyDH06uX7C84RldcVLM86TQKuwW22hfwGc8")
# model = genai.GenerativeModel("gemini-1.5-flash")
# response = model.generate_content("write a poem for cryptocurrency")
# print(response.text)

#  For the OpenAI LLM Model..
from langchain.llms import OpenAI

llm = OpenAI(temperature = 0.4)
print(llm("Who is the prime minister of india"))

As of 2021, the prime minister of India is Narendra Modi.

In [36]:
from urllib.parse import quote_plus
from langchain.utilities import SQLDatabase

# Database configuration
db_user = 'root'
#  Need of URL Encoder because my password of special character that create an isse because its have separate meaning.
db_password = '1234!%40%23%24Tushar'  # URL-encoded password
db_host = 'localhost'
db_name = 'llm_tshirt_store'

try:
    # Establishing the connection
    db = SQLDatabase.from_uri(
        f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",
        sample_rows_in_table_info=4
    )
    
    # Print table info
    print(db.table_info)

except Exception as e:
    print("Error occurred while connecting to the database:")
    print(e)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
4 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
4	4	5.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
4 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Levi	Blue	S	37	47
2	Van Huesen	White	S	31	10
3	Levi	Red	L	41	84
4	Adidas	Black	S	39	84
*/

In [39]:
# Here we have the code for converting the human text into the sql Query this is need to be understand that How much llm is smart..

from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm, db, verbose = True)
qns1 = db_chain("Count Tshirts do we have left for nike in extra small size")

> Entering new SQLDatabaseChain chain...
Count Tshirts do we have left for nike in extra small size
SQLQuery:SELECT COUNT(*) AS `total` FROM t_shirts WHERE brand = 'Nike' AND size = 'XS'
SQLResult: [(2,)]
Answer:There are 2 t-shirts left for Nike in extra small size.
> Finished chain.

In [45]:
#  Give the price according to the sql Query..
#  It give different answers in different case because it not the 100% correct 
# db_chain("How much is the price of the inventory for all small size t-shorts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shorts?
SQLQuery:SELECT SUM(price * stock_quantity) AS total_price FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('16712'),)]
Answer:The total price of the inventory for all small size t-shirts is $16712.
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shorts?',
 'result': 'The total price of the inventory for all small size t-shirts is $16712.'}

In [54]:
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

print(db_chain(sql_code))

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:SELECT SUM(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) AS total_revenue FROM (SELECT SUM(price*stock_quantity) AS total_amount, t_shirt_id FROM t_shirts WHERE brand = 'Levi' GROUP BY t_shirt_id) a LEFT JOIN discounts ON a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('32796.100000'),)]
Answer:The total revenue for Levi brand t-shirts after applying discounts is $32,796.10.
> Finished chain.
{'query': "\nselect sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n ", 'result': 'The total revenue for Levi brand t-shirts after applying discounts is $32,796.10.'}

In [57]:
# These Questions are depend on the various llm models.
# qns4 = db_chain("How many total price of white color levi's t shirts we have available?")

> Entering new SQLDatabaseChain chain...
How many total price of white color levi's t shirts we have available?
SQLQuery:SELECT SUM(price) AS total_price
FROM t_shirts
WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('129'),)]
Answer:129
> Finished chain.

{'query': "How many total price of white color levi's t shirts we have available?",
 'result': '129'}

In [69]:

# In this below case we have directly the number 
# qns1 = db_chain.run("How many t-shirts do we have left for Nike in XS size and white color?")
# qns2 = db_chain.run("How much is the total price of the inventory for all S-size t-shirts?")
# qns3 = db_chain.run("If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")
# qns4 = db_chain.run("If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?")
qns5 = db_chain.run("How many white color Levi's shirt I have?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's shirt I have?
SQLQuery:SELECT COUNT(*) AS total FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(3,)]
Answer:3
> Finished chain.

# FEW SHOT Learning

In [188]:
# we know that llm gives the wrong answer in some complex Query so we need to train with the custom dataset for which is predicting the right output.


few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns1},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': qns2},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': qns3} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : qns4},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns5
     }
]

In [194]:
#  Here is we our the embedding process for the given text that we need to given.
from langchain.embeddings import OpenAIEmbeddings

embeddings_openi = OpenAIEmbeddings()

vector_rep = embeddings_openi.embed_query("How many white color Levi's shirt I have?")
print(vector_rep[:5])

[0.008591501061962237, -0.02508101990614001, -0.006902738490149562, -0.0235142577979142, -0.0251837578248719]

In [195]:
# Now we need to store the embeddings into the vector database in which we have use the chroma DB.
vector_string_db = [" ".join(map(str, example.values())) for example in few_shots]
print(type(vector_string_db))
vector_string_db

<class 'list'>

["How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS' Result of the SQL query 0",
 "How much is the total price of the inventory for all S-size t-shirts? SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S' Result of the SQL query $261",
 "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)? SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n  Result of the SQL query Our store will generate $103.90 in revenue after discounts are applied.",
 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount? SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = \'Levi\' Result of the SQL query {\'query\': "How many total price of white color levi\'s t shirts we have available?", \'result\': \'129\'}',
 "How many white color Levi's shirt I have? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White' Result of the SQL query 3"]

In [199]:
from langchain.vectorstores import Chroma

# The type mismatch (e.g., int vs. str) for the result key in the dictionaries causes them to differ.
# The above code allows you to pinpoint such issues and identify mismatches in structure or data types.

# Types of elements in `few_shots`:
# Item 0: <class 'dict'>
# Keys and types: ['query: <class 'str'>', 'result: <class 'int'>']

# Types of elements in `simplified_metadata`:
# Item 0: <class 'dict'>
# Keys and types: ['query: <class 'str'>', 'result: <class 'str'>']

try:
    # Manually process metadata
    simplified_metadata = []
    for item in few_shots:
        processed_item = {key: str(value) for key, value in item.items()}  # Convert all values to strings
        simplified_metadata.append(processed_item)

    # Pass the simplified metadata to Chroma
    vectorstore = Chroma.from_texts(vector_string_db, embeddings_openi, metadatas=few_shots)
except Exception as e:
    print(f"Error: {e}")

Error: Expected metadata value to be a str, int, float or bool, got {'query': "How many total price of white color levi's t shirts we have available?", 'result': '129'} which is a dict in upsert.

Try filtering complex metadata from the document using langchain_community.vectorstores.utils.filter_complex_metadata.

In [197]:
from langchain.prompts import SemanticSimilarityExampleSelector

example_select = SemanticSimilarityExampleSelector(
    vectorstore = vectorstore,
    k = 2
)
example_select.select_examples({"Questions": "How many Adidas T Shirts i have left in my store ?"})

[{'Answer': '0',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '0',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'}]